[project]
name = "video-rag"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "torch",
    "torchvision",
    "torchaudio",
    "opencv-python>=4.13.0.92",
    "python-dotenv>=1.2.1",
    "transformers>=5.1.0",
    "accelerate>=1.12.0",
    "pillow>=12.1.0",
    "chromadb>=1.4.1",
    "tokenizers>=0.22.2",
]


[[tool.uv.index]]
name = "pytorch-cu121"
url = "https://download.pytorch.org/whl/cu121"
explicit = true

[tool.uv.sources]
torch = { index = "pytorch-cu121" }
torchvision = { index = "pytorch-cu121" }
torchaudio = { index = "pytorch-cu121" }
